* {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}
header{
    color: #75B79E;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0 47px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* CARTAS */   
.card{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin-bottom: 34px;
    margin-right: 34px;
}
.card img{
    width: 100px;
    height: 100px;
    margin: 24px 7px 22px 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 122px;
    padding-right: 116px;
}
